VITE_CHAT_BOT_NAME=DailyRTVIGeneralBot
VITE_BASE_URL=http://0.0.0.0:4321/bot_join/DailyRTVIGeneralBot
VITE_SHOW_SPLASH=true
VITE_SERVER_AUTH= # JWT token for backend
VITE_BOT_READY_TIMEOUT=30000 
VITE_TASK_CONNECTOR_TAG=
VITE_REDIS_HOST=redis-11446.c277.us-east-1-3.ec2.redns.redis-cloud.com
VITE_REDIS_PORT=11446
VITE_REDIS_DB=0