VITE_CHAT_BOT_NAME=DailyMockVisionBot
VITE_BASE_URL=http://0.0.0.0:4321/bot_join/DailyMockVisionBot
VITE_SHOW_SPLASH=true
VITE_SERVER_AUTH= # JWT token for backend
VITE_BOT_READY_TIMEOUT=15000 # 15 seconds